/* Setting Scale 1.250 */

/*
font-family: "Poppins", sans-serif; detail fin
 font-family: "Cormorant Garamond", serif; //titre
 font-family: ; Menu, bouton, lien 
 */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,595;1,595&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;

  font-size: 1rem;
  --color-fonce: #a78270;
  --color-moyen: #cec0b9;
  --color-clair: #c8b4ab;
  --color-police-fonce: #5c4b3d;

  --color-chocolate: #7b3d2e;
  --color-casure: #82454c;
  --color-casure2: rgb(255, 166, 0);
  --color-blanche: #fcfcfc;
  --color-noir: #47454a;

  background: var(--color-moyen);
  color: var(--color-police-fonce);
  padding-top: 50px;
}
h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif;
}
h2 {
  font-size: 3.052rem;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  border-left: 5px solid rgb(255, 166, 0);
  padding-left: 12px;
  margin: 40px 0 40px 10px;
}
h3 {
  font-size: 2.441rem;
  font-weight: 600;
}
h4 {
  font-size: 1.953rem;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.linkStyle1 {
  line-height: 40px;
  text-decoration: underline var(--color-blanche);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  font-family: "Roboto", sans-serif;
  transition: color ease-in 250ms;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-blanche);
}
.linkStyle2 {
  letter-spacing: 0.2em;
  color: var(--color-blanche);
  background-color: rgba(0, 0, 0, 0.7);
}

.aside,
address {
  font-family: "Poppins", sans-serif;
  font-size: 1.953rem;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
  font-style: italic;
}
.linkStyle1:hover {
  text-decoration: none;
}
h1,
.grandTitre {
  font-size: 3.815rem;
}

/* endSetting */

/* NavBar */
/* MenuDeroulant */
nav {
  position: relative;
  background: var(--color-chocolate);
  color: aliceblue;
}
nav .navPc {
  display: none;
}
nav .navPhone {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  white-space: nowrap;
  width: 100%;
  height: 60px;
  background-color: var(--color-chocolate);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.navPhone .logoName,
.navPhone .menu {
  white-space: wrap;
  display: inline-block;
}
.navPhone .logoName {
  width: auto;
}
.navPhone .logoName a {
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navPhone .logoName a img {
  width: 40px;
  height: 40px;
}
.navPhone .logoName a strong {
  color: var(--color-blanche);
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
  font-size: 1.953rem;
}
.navPhone .menu {
  display: flex;
}
.navPhone .slide {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: var(--color-clair);
  box-shadow: 9px 3px 12px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 3px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 3px 12px -1px rgba(0, 0, 0, 0.75);
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
  transform: translateX(340px);
}
.navPhone .slide .closeMenu {
  position: absolute;
  right: 300px;
  top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
}
.navPhone .slide .closeMenu i {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 32px;
  border-radius: 100%;
  background-color: black;
  color: white;
}
.navPhone .slide .MenuTitle {
  display: block;
  text-align: right;
  font-size: 30px;
  padding-right: 20px;
  margin: 20px auto 30px;
  color: var(--color-blanche);
}
.navPhone .slide ul li {
  border-bottom: 1px solid black;
}
.navPhone .slide ul li:last-child {
  border-bottom: none;
}
.navPhone .slide ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  padding: 15px 10px;
}
.navPhone .slide ul li a:hover,
.navPhone .slide ul li .active {
  background-color: var(--color-chocolate);
  color: var(--color-blanche);
}
.navPhone .slide ul li a .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
}
.navPhone .slide ul li a .icon i {
  line-height: 40px;
  font-size: 32px;
}
.navPhone .slide ul li a .name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.navPhone input[id="menu"] {
  display: none;
  visibility: hidden;
}
.navPhone label[for="menu"] .fa {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 40px;
  background-color: black;
  line-height: 40px;
}
.navPhone input[id="menu"]:checked ~ .slide {
  transform: translateX(0);
}
/* endMenuDeroulant */
/* endNavBar */
/* Newslatter */
#newslatterOverlay {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
#newslatterOverlay.active {
  display: block;
}
#newslatterOverlay .newslatterContentClose {
  position: relative;
  background-color: var(--color-clair);
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#newslatterOverlay .newslatterContentClose .fa {
  position: absolute;
  display: inline-block;
  right: 0;
  font-size: 32px;
}
#newslatterOverlay .newslatterContentClose .newslatterContent {
  padding: 30px 30px;
}
form input[type="text"],
form input[type="email"],
form textarea {
  border: 2px solid var(--color-police-fonce);
  width: 100%;
  border-radius: 25px;
  background-color: var(--color-clair);
  margin-bottom: 20px;
  text-indent: 20px;
  font-size: 20px;
  line-height: 50px;
  color: var(--color-police-clair);
}

form input[type="text"],
form input[type="email"] {
  height: 50px;
}
form input[type="text"],
form textarea {
  text-transform: capitalize;
}
form textarea {
  font-weight: 600;
}
form input[type="submit"] {
  background-color: var(--color-chocolate);
  color: var(--color-blanche);
  border: none;
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 30px;
  font-size: 1.25rem;
  cursor: pointer;
  text-transform: capitalize;
  width: 100%;
}
form input[type="submit"]:hover {
  background-color: var(--color-blanche);
  color: var(--color-noir);
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  background-color: var(--color-blanche);
  color: var(--color-noir);
}
/* endNewslatter */
/* Galerie */
#galerie .galerieProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-fonce);
  padding: 50px 0;
}
#galerie .galerieProduct .slide {
  position: relative;
  border-radius: 20px;
  width: 90%;
  max-width: 22rem;
  height: 22rem;
  overflow: hidden;
  margin-bottom: 30px;
}
#galerie .galerieProduct .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#galerie .galerieProduct .slide .slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#galerie .galerieProduct .slide .slide-content .price {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: var(--color-blanche);
  font-size: 20px;
  font-weight: 700;
}

#galerie .galerieProduct .slide .slide-content .slide-content-bottom {
  position: absolute;
  bottom: 0.1rem;
  color: var(--color-blanche);
}

#galerie .galerieProduct .slide .slide-content .slide-content-bottom .rating {
  display: flex;
  padding-top: 0.4rem;
  gap: 1rem;
}
#galerie .galerieProduct .slide .slide-content .slide-content-bottom .rating i {
  color: orange;
}
#galerie .galerieProduct .slide .slide-content .slide-content-bottom h3 {
  display: inline;
  color: rgb(255, 166, 0);
  background-color: rgba(71, 69, 74, 0.7);
  text-transform: capitalize;
}
#galerie
  .galerieProduct
  .slide
  .slide-content
  .slide-content-bottom
  .slide-description {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
}
/* endGalerie */
/* Footer */
footer {
  background-color: var(--color-chocolate);
  color: var(--color-blanche);
  font-size: 16px;
  overflow: hidden;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
footer .row {
  padding: 1em 1em;
}

footer .row.primary {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
}
footer .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 15em;
}
footer h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
footer .about h3 {
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
  font-size: 1.8em;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
footer li:not(:first-child) {
  margin-top: 0.8em;
}
footer ul li a {
  color: var(--color-blanche);
  text-decoration: none;
}
footer ul li a:hover {
  color: var(--color-clair);
}
footer .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
footer form {
  max-width: 100%;
}
footer form input {
  font-size: 1em;
  padding: 0;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
footer form input[type="submit"] {
  background-color: var(--color-noir);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  width: 100%;
}
footer form input[type="email"] {
  background-color: var(--color-blanche);
}
footer form input[type="submit"]:hover {
  background-color: #2d2a2a;
  color: var(--color-blanche);
}
footer div.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
footer .social i {
  color: #bac6d9;
}

footer .copyright {
  padding: 1.3em 1em;
}
footer .footer-menu {
  float: left;
  text-transform: capitalize;
  margin: 0;
}

footer .footer-menu a {
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}
footer .footer-menu a:hover {
  color: var(--color-clair);
}
footer .copyright p {
  font-size: 0.9em;
  text-align: right;
}
/* endFooter */
/* Tablette */
@media screen and (min-width: 768px) {
  /* NavBar Tab*/
  html {
    padding-top: 85px;
    scroll-padding-top: 90px;
  }
  nav {
    position: relative;
    background: var(--color-chocolate);
    color: aliceblue;
  }
  nav .navPhone {
    display: none;
  }

  nav .navPc {
    display: block;
  }
  .navPc .menu1 {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    top: 0;
    white-space: nowrap;
    width: 100%;
    height: 90px;
    background-color: var(--color-chocolate);
    padding: 5px 30px;
  }
  .navPc .menu1 .logoName {
    width: auto;
    margin-right: 40px;
  }
  .navPc .menu1 .logoName a {
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .navPc .menu1 .logoName a img {
    width: 50px;
    height: 50px;
  }
  .navPc .menu1 .logoName a strong {
    color: var(--color-blanche);
    text-transform: capitalize;
    font-family: "Dancing Script", cursive;
    font-size: 3.052rem;
  }
  nav .navPc .menu1 .ul1 {
    position: relative;
    gap: 10px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0;
  }
  nav .navPc .menu1 .ul1 li {
    position: relative;
    text-transform: capitalize;
    text-indent: 10px;
    cursor: pointer;
  }
  nav .navPc .menu1 .ul1 li a {
    text-decoration: none;
    color: var(--nav-ul1-color);
  }
  nav .navPc .menu1 .ul1 li .ul2 {
    position: absolute;
    width: 100%;
    display: none;
  }
  nav .navPc .menu1 .ul1 li .ul2 li {
    position: relative;
    background-color: var(--color-chocolate);
    border-bottom: 1px solid var(--color-fonce);
  }
  nav .navPc .menu1 .ul1 li .ul2 li:last-child {
    border-bottom: none;
  }
  nav .navPc .menu1 .ul1 li .ul2 li a {
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: var(--color-chocolate);
  }
  nav .navPc .menu1 .ul1 li:hover .ul2 {
    display: block;
  }

  nav .navPc .menu1 .ul1 li .ul2 li .ul3,
  nav .navPc .menu1 .ul1 li .ul2 li .ul3 li .ul4 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 101%;
    display: none;
  }
  nav .navPc .menu1 .ul1 li .ul2 li:hover .ul3,
  nav .navPc .menu1 .ul1 li .ul2 li .ul3 li:hover .ul4 {
    display: block;
  }

  /* NavBar Tab*/
  /* Galerie Tab*/
  #galerie .galerieProduct .slide {
    margin-left: 30px;
  }
  /* endGalerie Tab*/
  /* Footer Tab*/
  footer .row.primary {
    grid-template-columns: 2fr 1fr 1fr 2fr;
  }
  footer .row {
    padding: 0 2em;
  }
  /* endFooter  Tab*/
}
/* endTablette */
/* Desktops */
@media screen and (min-width: 992px) {
}
/* endDesktops */
/* Pc */
@media screen and (min-width: 1200px) {
}
/* endPc */
